/* Global Styles */
html { box-sizing: border-box;}
* {margin: 0; padding: 0; box-sizing: inherit; }

body {
    margin: 0; padding:0;
    font-family: "Chathura", sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.4em;
    color: #000000;
}

img {
    max-width:100%;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family:'Wire One', sans-serif;
    font-weight: normal;
}

a {
    color: rgb(234, 105, 124);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    font-size:30px;
}

p {
    line-height:20px;
}

/* Header + Navigation */


a:hover {
    color:rgb(114, 29, 42);
}

header{
    margin: 0;
    padding: 20px;
    width: 100%;
    
}


header h1 {
    float: left;
    font-size:70px;
    margin-top:25px;
    letter-spacing:1.5px;

}

header nav {
    float: right;

}

header nav ul {
    list-style:none;
}

header nav ul li {
    display: inline-block;
    font-size: 14px;
    margin-left: 1em;
}

header nav ul li a {
    text-decoration:none;

}

header nav ul li a.active{
    color:black;
}
/* Layout */

.container {
    max-width: 980px;
    margin:50px auto;
    position:relative;
    
    
}
ul.thumbnails {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.thumbnails li {
    width: 220px;
    margin:15px;
    text-align:center;
}

ul.thumbnails li img {
    max-width:100%;
}

ul.thumbnails li a img {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

ul.thumbnails li a:hover img {
    filter: grayscale(100%) blur(5px);
    -webkit-filter: grayscale(100%) blur(5px);
}
/* Content */
.content {
    max-width:640px;
    margin:50px auto;
    text-align: center;
}

.content h2 {
    margin:20px 0px 10px;
}

.content p {
    margin-bottom: 1em;
}
/* Footer */

/* MediaQueires */