
p{
    color:yellow;
    float:middle;
    font-family:Times,serif;
    background-color:pink;

}

div p{
    color:violet;
    float:left;
    background-color:blue;
    position:middle;
    font-size:60px;
    letter-spacing:50px;
    font-family:Arial;
    font-color:red;
}

*{
    border:50px solid brown;
}
